<section id="content">
        <div class="page-header">

          <div class="hero-unit" style="padding = 0px;">
            <img src="/assets/hh-logo.png" height="100"/>
          </div>

        </div>
        <div class="row">
          <div class="span8">

            <p>
              The Head Health application allows interactive interfacing between clinicians and their patients.
              Focusing primarily on mental health, the app allows a reciever of mental health support to review
              their daily progress, monitor therapy homework completion and review feedback from their assigned
              professionals.
            </p>

            <iframe src="http://player.vimeo.com/video/31531493" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> <p><a href="http://vimeo.com/31531493">Change Mental Health</a> from <a href="http://vimeo.com/user9133788">Change Mental Health</a> on <a href="http://vimeo.com">Vimeo</a>.</p>

            <img src="/assets/nfc.svg" />

            <h1 id="thetechnology">The technology</h2>
            <p>The product is delivered via an iOS app and a dynamic web site; using a database to manage
               information for users.</p>

            <h2>The Dashboard</h2>
            <p> This is the heart of Head Health, allowing quick and accurate feedback from
                patients on their current state of mind and mood. There is also access to feedback
                from practitioners and an overview of the data collected so far and the trends this
                reveals. </p>

          </div>
          <div class="span4">

            <div class="well">

              <a class="twitter-timeline" href="https://twitter.com/HealthHackEU" data-widget-id="348543708083396609">Tweets by @HealthHackEU</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
                </script>

            </div>

          </div>
        </div>
      </section>